body{
    background: #0F2027; 
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027); 
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    color: #fff;
}
h1{
    text-align: center;
}
button{
    background: #3C3B3F;  
    background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F); 
    background: linear-gradient(to right, #605C3C, #3C3B3F); 
    color: #000;
}
.map{
    width: 1200px;
    height: 300px;
}
